* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  display: flex;
  align-items: center;
}

img {
  width: 25rem;
}
#nav-bar {
  margin: auto;
}

#nav-bar ul {
  display: flex;
  list-style-type: none;
}
#nav-bar li {
  display: flex;
  padding: 50px 50px 50px 50px;
}
.nav-link {
  text-decoration: none;
  text-align: center;
}

@media screen and (max-width: 800px) {
  #header {
    display: flex;
    flex-direction: column;
  }
  #nav-bar ul {
    flex-direction: column;
    
  }
  #nav-bar li {
    padding: 0;
    display: flex;
    justify-content: center;
  }

  img {
    width: 21rem;
    margin: 10px 0px 10px 0px;
    text-align: center;
  }

}
