/* Remove all defaul margin and padding and use the box model so the no elements or divs overflow */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

img {
  width: 25rem;
}
/* Make the nav-bar margin auto so that its centered of the div */
#nav-bar {
  margin: auto;
}
/* Target all the uls in the nav-bar */
#nav-bar ul {
  display: flex;
  list-style-type: none;
  color: aquamarine;
}

.nav-link {
  text-decoration: none;
  text-align: center;
  color: rgb(97, 97, 97);
  margin: 50px 50px 50px 50px;
  width: 100px;
}
/* Make the header and all the uls in the nav-bar to display as a column and centered 
in a display thats less than 800px*/
@media screen and (max-width: 800px) {
  #header,
  #nav-bar ul {
    flex-direction: column;
    text-align: center;
    margin-top: 15px;
  }
  /* Make the image smaller */
  img {
    width: 19rem;
  }
}
